@charset "utf-8";

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	word-spacing:normal;
	list-style-position: inside;
	background-color: #F3F4BD;
	padding-left: 15px;
	padding-right: 10px;
	text-align: left;
	margin-left: 15px;
}

#header  {
	position: relative;
	background-color: #B2E5FB;
	color: #0115F7;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	text-align: left;
	text-indent: 15px;
	border-radius: 25px 25px 10px 10px;
	word-spacing: 15px;
	white-space: normal;
	letter-spacing: 3px;
	height: 155px
}

#header ul {
	position: absolute;
	right: 20px;
	bottom: 10px;
	margin: 0px;
	padding: 5px;
	background-color: #0115F7;
}

#header li {
	list-style: none;
	display: inline-block;
}

#header ul li a {
	height: 30px;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	border-left: #B2E5FB 5px solid;
	border-right: #B2E5FB 5px solid;
	color: #F87C02;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}

#header ul li a:hover {
	color: #0115F7;
	background-color: #05E199;
}

#header ul li a: visited {
	color: #A2FCA1;
	background-color: #0115F7;
}
	
#logo {
	float: left;
	}
	
.section {
	width: 45%;
	float: right;
	clear: both;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	word-spacing: 0em;
	border-right-width: medium;
	border-style: dotted;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	color: #040474;
}

#main li {
	list-style: outside;
	padding-left: 20px;
}

.highlight {
	color: #F87C02; 
	}


.ladder, td, th {
	border: thin solid #000412;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}


.right-image {
	float: right;
}

.left-image {
	float: left;
}

.center {
	text-align: center;
	width: 50%;
	margin-left: auto;
    margin-right: auto;

}

#form {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}


body  h2 {
	color: #0115F7;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
}
body h3 {
	color: #0115F7;
	text-align: left;
	text-decoration: none;
	padding-left: 10px;
}
body h4 {
	color: #086822;}

body h2 {
}

#anchor {
	color: #04A461;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 18px;
	list-style: none;
	display: inline;
	text-decoration:none;
}

#footer {
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	background-color: #B2E5FB;
	color: #F87C02;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border-radius: 10px 10px 25px 25px;
	border-radius:
	box-shadow: 10px 10px 10px #F8C103;
	font-style: normal;
	font-weight:300;

}
.container #main h4 {
}
a {
	color: #0CA75C;
	text-decoration: none;
}
ul a strong {
	background-color: #05E199;
	border: medium solid #05E199;
	color: #0115F7;
	line-height: 16px;
}
